@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Verdana&display=swap');

:root {
    --back_color1: #3B5BDB;
    --back_color2: #1D5599;
    --back_color3: #57849C;
    --accent_color1: #7FC6DE;
    --accent_color2: #212529;
    --wild_red: #FF0000;
}

header {
    padding: 0px;
    background-color: var(--back_color2);
    border: 1px solid var(--back_color2);
  }

body {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
}

footer {
    color: white;
    background-color: var(--back_color1);
    border-top: 1px solid var(--back_color1);
    border-bottom: 4px solid var(--back_color1);
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    color: white;
  }

h2 {
    font-size: 1.2rem;
    font-family: Roboto, Arial, sans-serif;
    padding: 0.5rem;
    text-align: center;
    /* margin: 0.5rem auto; */
    margin: auto;
    background-color: #0D1B2A;
    color: white;
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
}

h3 {
    font-size: 1rem;
    text-align: center;
    padding: 0px;
    color: black;
    margin: 3rem 1rem 1rem 1rem;
  }

p {
    padding: 0.5rem;
    margin: 1rem;
}

nav {
    flex: 1 1 100%;
    display: block;
    color: white;
    padding: 5px;
    display: flex;
    background-color: #333;
    align-items: center;
}
      
nav a {
    flex: 1 1 100%;
    display: block;
    color: white;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
      
nav a:hover {
    font-weight: 700;
    color: black;
    background-color: yellow;
    text-decoration: underline;
    text-decoration-color: red;
}

div img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem;
}

hr { 
    display: block;
    margin: 0.5em 1rem 0.5rem 1rem;
    border-style: inset;
    border-width: 1px;
  } 

/*-------------------------------------------------*/
/* Class Selectors                                 */
/*-------------------------------------------------*/

.grid-container {
    display: grid;
    /* grid-gap: 10px;
    width: 1000px; */
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns: 2fr 1fr;
}

.rounded-box1 {
    border-radius: 10px;
    border: 2px solid #0D1B2A;
    margin: 0.5rem auto;
    grid-column: 1 / 2;
    height: auto;  
}

.rounded-box2 {
    border-radius: 10px;
    border: 2px solid #0D1B2A;
    margin: 0.5rem auto;
    height: auto;  
}

.img-left {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: left;
    margin: 1rem;
}